{% extends "base.html" %}

{% block content %}
<div id="cmsms_row_55476f7fd813b" class="cmsms_row cmsms_color_scheme_default">
	<div id="home" class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner cmsms_row_fullwidth">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<div class="cmsms_slider">
							<script type="text/javascript">var lsjQuery = jQuery;</script>
							<script type="text/javascript">
								lsjQuery(document).ready(function(){
									if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1','jquery'); }
										else { lsjQuery("#layerslider_1").layerSlider({
											navStartStop: false,
											navButtons: false,
											showCircleTimer: false,
											skinsPath: '{% static '/static/LayerSlider/assets/skins/' %}'
										})}
								});
							</script>
							<!--<div id="layerslider_1" class="ls-wp-container" style="width:1920px;height:780px;margin:0 auto;">
								<div class="ls-slide" data-ls="slidedelay:9500;transition2d:5;">
									<img src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/eco.jpg' %}" class="ls-bg" alt="eco" />
									<div class="ls-l" style="top:412px;left:888px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px;font-family:roboto slab;font-size:14px;color:#ffffff;background:#61a93e;border-radius:500px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:600;durationin:3000;delayin:5000;offsetxout:0;">GO SHOP!</div>
									<img class="ls-l" style="top:115px;left:436px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-500;durationin:2500;offsetxout:-800;durationout:3800;showuntil:1400;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/light.png' %}" alt="">
									<p class="ls-l" style="top:255px;left:845px;font-family:roboto slab;font-size:64px;color:#61a93e;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-3000;durationin:3000;delayin:5000;offsetxout:0;">Shop</p>
									<p class="ls-l" style="top:347px;left:387px;font-family:roboto slab;font-size:30px;color:#423932;white-space: nowrap;" data-ls="offsetxin:-2000;durationin:3000;delayin:5000;offsetxout:0;">Charity shops help raise millions of dollars </p>
									<p class="ls-l" style="top:251px;left:604px;font-family:roboto slab;font-size:64px;color:#423932;white-space: nowrap;" data-ls="offsetxin:-2000;durationin:3000;delayin:5000;offsetxout:0;">Charity </p>
									<img class="ls-l" style="top:141px;left:1098px;white-space: nowrap;" data-ls="offsetyin:-800;durationin:3000;delayin:5000;offsetxout:0;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/t-shirts_eco.png' %}" alt="">
									<img class="ls-l" style="top:644px;left:1158px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3000;delayin:5000;offsetxout:0;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/shadow.png' %}" alt="">
									<div class="ls-l layer_button" style="top:416px;left:864px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px;font-family:roboto slab;font-size:14px;color:#ffffff;background:#61a93e;border-radius:500px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:400;durationin:3400;offsetyout:1000;durationout:1500;showuntil:2000;">DONATE NOW!</div>
									<p class="ls-l" style="top:254px;left:867px;font-family:roboto slab;font-size:64px;color:#423932;white-space: nowrap;" data-ls="offsetxin:800;durationin:2500;offsetxout:0;offsetyout:-1000;durationout:3000;showuntil:2000;">Join our </p>
									<p class="ls-l" style="top:256px;left:1133px;font-family:roboto slab;font-size:64px;color:#61a93e;white-space: nowrap;" data-ls="offsetxin:800;durationin:2500;offsetxout:0;offsetyout:-1000;durationout:3000;showuntil:2000;">Campaign!</p>
									<p class="ls-l" style="top:342px;left:866px;font-family:roboto slab;font-size:36px;color:#423932;white-space: nowrap;" data-ls="offsetxin:1000;durationin:3000;offsetxout:1000;durationout:2000;showuntil:2000;">Donation so far: </p>
									<p class="ls-l" style="top:343px;left:1144px;font-family:roboto slab;font-size:36px;color:#61a93e;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:1000;durationin:3000;skewxin:45;scalexin:0;scaleyin:0;offsetxout:1000;durationout:2000;showuntil:2000;">$450 000</p>
									<img class="ls-l" style="top:646px;left:459px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3800;offsetxout:0;durationout:2000;showuntil:200;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/shadow.png' %}" alt="">
									<img class="ls-l" style="top:68px;left:69px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2500;offsetxout:0;parallaxlevel:2;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/cloud-one.png' %}" alt="">
									<img class="ls-l" style="top:97px;left:645px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3000;offsetxout:0;parallaxlevel:2;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/cloud-two.png' %}" alt="">
									<img class="ls-l" style="top:29px;left:1344px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3500;offsetxout:0;parallaxlevel:2;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/cloud-one.png' %}" alt="">
								</div>
								<div class="ls-slide" data-ls="slidedelay:9000;transition2d:5;">
									<img src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/eco.jpg' %}" class="ls-bg" alt="eco" />
									<div class="ls-l" style="top:412px;left:888px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px;font-family:roboto slab;font-size:14px;color:#ffffff;background:#61a93e;border-radius:500px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:600;durationin:3000;delayin:5000;offsetxout:0;">GO SHOP!</div>
									<img class="ls-l" style="top:115px;left:436px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-500;durationin:2500;offsetxout:-800;durationout:3800;showuntil:1400;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/light.png' %}" alt="">
									<p class="ls-l" style="top:255px;left:845px;font-family:roboto slab;font-size:64px;color:#61a93e;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-3000;durationin:3000;delayin:5000;">Shop</p>
									<p class="ls-l" style="top:347px;left:387px;font-family:roboto slab;font-size:30px;color:#423932;white-space: nowrap;" data-ls="offsetxin:-2000;durationin:3000;delayin:5000;offsetxout:0;">Charity shops help raise millions of dollars </p>
									<p class="ls-l" style="top:251px;left:604px;font-family:roboto slab;font-size:64px;color:#423932;white-space: nowrap;" data-ls="offsetxin:-2000;durationin:3000;delayin:5000;offsetxout:0;">Charity </p>
									<img class="ls-l" style="top:141px;left:1098px;white-space: nowrap;" data-ls="offsetyin:-800;durationin:3000;delayin:5000;offsetxout:0;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/t-shirts_eco.png' %}" alt="">
									<img class="ls-l" style="top:644px;left:1158px;white-space: nowrap;" data-ls="offsetxin:0;durationin:17000;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/shadow.png' %}" alt="">
									<div class="ls-l layer_button" style="top:416px;left:864px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px;font-family:roboto slab;font-size:14px;color:#ffffff;background:#61a93e;border-radius:500px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:400;durationin:3400;offsetyout:1000;durationout:1500;showuntil:2000;">DONATE NOW!</div>
									<p class="ls-l" style="top:254px;left:867px;font-family:roboto slab;font-size:64px;color:#423932;white-space: nowrap;" data-ls="offsetxin:800;durationin:2500;offsetxout:0;offsetyout:-1000;durationout:3000;showuntil:2000;">Join our </p>
									<p class="ls-l" style="top:256px;left:1133px;font-family:roboto slab;font-size:64px;color:#61a93e;white-space: nowrap;" data-ls="offsetxin:800;durationin:2500;offsetxout:0;offsetyout:-1000;durationout:3000;showuntil:2000;">Campaign!</p>
									<p class="ls-l" style="top:342px;left:866px;font-family:roboto slab;font-size:36px;color:#423932;white-space: nowrap;" data-ls="offsetxin:1000;durationin:3000;offsetxout:1000;durationout:2000;showuntil:2000;">Donation so far: </p>
									<p class="ls-l" style="top:343px;left:1144px;font-family:roboto slab;font-size:36px;color:#61a93e;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:1000;durationin:3000;skewxin:45;scalexin:0;scaleyin:0;offsetxout:1000;durationout:2000;showuntil:2000;">$450 000</p>
									<img class="ls-l" style="top:646px;left:459px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3800;offsetxout:0;durationout:2000;showuntil:200;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/shadow.png' %}" alt="">
									<img class="ls-l" style="top:68px;left:69px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2500;parallaxlevel:2;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/cloud-one.png' %}" alt="">
									<img class="ls-l" style="top:97px;left:645px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3000;parallaxlevel:2;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/cloud-two.png' %}" alt="">
									<img class="ls-l" style="top:29px;left:1344px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3500;parallaxlevel:2;" src="{% static '/static/LayerSlider/img/blank.gif' %}" data-src="{% static '/static/LayerSlider/img/cloud-one.png' %}" alt="">
								</div>
							</div>-->
							<img src="{% static '/static/img/images/bg-grass.jpg' %}"></img>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f7fe665b" class="cmsms_row cmsms_color_scheme_first">
	<div id="about" class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<h1 id="cmsms_heading_55476f7fe6836" class="cmsms_heading">Entretiens et aménagements extérieurs</h1>
						<div id="cmsms_divider_55476f7fe68c7" class="cmsms_divider solid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f7fe69b2" class="cmsms_row cmsms_color_scheme_first">
	<div class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_fourth">
						<div id="cmsms_icon_box_55476f7fe6b9f" class="cmsms_icon_box cmsms_box_centered cmsms-icon-cloud-sun">
							<div class="icon_box_inner">
								<h1>Entretien</h1>
								<div class="icon_box_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, vel iaculis ipsum ultrices ac. Suspendisse vehicula</p>
								</div>
								<a href="#" class="cmsms_button icon_box_button">More info</a>
							</div>
						</div>
					</div>
					<div class="cmsms_column one_fourth">
						<div id="cmsms_icon_box_55476f7fe6e13" class="cmsms_icon_box cmsms_box_centered cmsms-icon-feather-1">
							<div class="icon_box_inner">
								<h1>Aménagement</h1>
								<div class="icon_box_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, vel iaculis ipsum ultrices ac. Suspendisse vehicula</p>
								</div>
								<a href="#" class="cmsms_button icon_box_button">More info</a>
							</div>
						</div>
					</div>
					<div class="cmsms_column one_fourth">
						<div id="cmsms_icon_box_55476f7fe7085" class="cmsms_icon_box cmsms_box_centered cmsms-icon-lightbulb-1">
							<div class="icon_box_inner">
								<h1>Rénovation</h1>
									<div class="icon_box_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, vel iaculis ipsum ultrices ac. Suspendisse vehicula</p>
									</div>
								<a href="#" class="cmsms_button icon_box_button">More info</a>
							</div>
						</div>
					</div>
					<div class="cmsms_column one_fourth">
						<div id="cmsms_icon_box_55476f7fe72ea" class="cmsms_icon_box cmsms_box_centered cmsms-icon-flash-outline">
							<div class="icon_box_inner">
								<h1>Livraison & Transport</h1>
								<div class="icon_box_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, vel iaculis ipsum ultrices ac. Suspendisse vehicula</p>
								</div>
								<a href="#" class="cmsms_button icon_box_button">More info</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f7fe7477" class="cmsms_row cmsms_color_scheme_first">
	<div class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<div id="cmsms_divider_55476f7fe760f" class="cmsms_divider solid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f7fe76ce" class="cmsms_row cmsms_color_scheme_first">
	<div class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_fourth"></div>
					<div class="cmsms_column one_half">
						<h3 id="cmsms_heading_55476f7fe78b6" class="cmsms_heading">Depuis 2012, l'entreprise SCHOPFER PAYSAGISTE est à votre service dans le chablais pour tous vos aménagements extérieurs et entretiens d'espaces verts avec toutes les qualifications requises pour un travail professionnel et de qualité.</h3>
					</div>
					<div class="cmsms_column one_fourth"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f7fe79d9" class="cmsms_row cmsms_color_scheme_second" data-stellar-background-ratio="0.5">
	<div id="projects" class="cmsms_row_outer_parent">
		<div class="cmsms_row_overlay"></div>
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner cmsms_row_fullwidth">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<h1 id="cmsms_heading_55476f7fe8035" class="cmsms_heading">Exemples de Prestations</h1>
						<div class="cmsms_wrap_portfolio entry-summary" id="portfolio_55476f7fe80ee" data-meta="title,categories,rollover">
							<script type="text/javascript">
								jQuery(document).ready(function () {
									(function ($) {
										if ($('#portfolio_55476f7fe80ee').find('article').length == '0') {
											return false;
										}


										startPortfolio(
											'55476f7fe80ee',
											'grid',
											'perfect',
											'date',
											'DESC',
											'10',
											''
										);
									} )(jQuery);
								} );
							</script>
							<div class="portfolio grid large_gap perfect cmsms_4">
							<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/Green-Grass-small.jpg' %}" class="full-width" alt="Green grass" title="Green grass" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/Green-Grass-full.jpg' %}" rel="ilightbox[147_55476f7fea308]" title="Green grass" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Green grass" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Green grass</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/energy-panels-small.jpg' %}" class="full-width" alt="Energy panels" title="Energy panels" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/energy-panels-full.jpg' %}" rel="ilightbox[144_55476f7febd8f]" title="Energy panels" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Energy panels" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Energy panels</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/Young-seedling-growing-in-sunlight-small.jpg' %}" class="full-width" alt="Young seedling" title="Young seedling" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/Young-seedling-growing-in-sunlight-full.jpg' %}" rel="ilightbox[142_55476f7fed65c]" title="Young seedling" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Young seedling" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Young seedling</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/Wind_generators_turbines_on_sunset_summer_landscape-small.jpg' %}" class="full-width" alt="Wind generators" title="Wind generators" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/Wind_generators_turbines_on_sunset_summer_landscape-full.jpg' %}" rel="ilightbox[139_55476f7fef115]" title="Wind generators" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Wind generators" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Wind generators</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/solar-panels-small.jpg' %}" class="full-width" alt="Solar panels" title="Solar panels" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/solar-panels-full.jpg' %}" rel="ilightbox[58_55476f7ff0a7d]" title="Solar panels" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Solar panels" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Solar panels</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/eco-tree-small.jpg' %}" class="full-width" alt="Eco-tree" title="Eco-tree" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/eco-tree-full.jpg' %}" rel="ilightbox[55_55476f7ff237f]" title="Eco-tree" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Eco-tree" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Eco-tree</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/Eco-power-wind-turbines-at-sunset-small.jpg' %}" class="full-width" alt="Eco power" title="Eco power" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/Eco-power-wind-turbines-at-sunset-full.jpg' %}" rel="ilightbox[52_55476f7ff3cb7]" title="Eco power" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Eco power" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Eco power</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
								<!--_________________________ Start Standard Project _________________________ -->
								<article class="project" data-category="image">
									<div class="project_outer">
										<figure class="cmsms_img_rollover_wrap preloader">
											<img width="580" height="460" src="{% static '/static/img/images/branch-small.jpg' %}" class="full-width" alt="Branch" title="Branch" />
											<div class="cmsms_img_rollover">
												<a href="{% static '/static/img/images/branch-full.jpg' %}" rel="ilightbox[49_55476f8001447]" title="Branch" class="cmsms_image_link">
													<span class="cmsms-icon-search-7"></span>
												</a>
												<a href="open-project.html" title="Branch" class="cmsms_open_link">
													<span class="cmsms-icon-attach-6"></span>
												</a>
											</div>
										</figure>
										<div class="project_inner">
											<header class="cmsms_project_header entry-header">
												<h3 class="cmsms_project_title entry-title">
													<a href="open-project.html">Branch</a>
												</h3>
											</header>
											<div class="cmsms_project_cont_info entry-meta">
												<span class="cmsms_project_category">
													<a href="open-project.html" rel="tag">Image</a>
												</span>
											</div>
										</div>
										<div class="cl"></div>
									</div>
								</article>
								<!--_________________________ Finish Standard Project _________________________ -->
							</div>
							<div class="cmsms_wrap_more_projects"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f800297b" class="cmsms_row cmsms_color_scheme_default">
	<div id="mission" class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<h1 id="cmsms_heading_55476f8002b57" class="cmsms_heading">Notre Engagement</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f8002c47" class="cmsms_row cmsms_color_scheme_default">
	<div class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_half">
						<div class="aligncenter">
							<div class="cmsms_img  cmsms_image_c" data-animation="fadeInUpBig" data-delay="0">
								<img src="{% static '/static/img/images/plant_shadow1.jpg' %}" alt="" />
							</div>
						</div>
					</div>
					<div class="cmsms_column one_half">
						<ul id="cmsms_icon_list_items_55476f8003424" class="cmsms_icon_list_items cmsms_icon_list_type_block cmsms_icon_list_pos_left cmsms_color_type_icon">
							<li id="cmsms_icon_list_item_55476f8003526" class="cmsms_icon_list_item">
								<div class="cmsms_icon_list_item_inner">
									<div class="cmsms_icon_list_icon_wrap">
										<span class="cmsms_icon_list_icon cmsms-icon-drizzle"></span>
									</div>
									<div class="cmsms_icon_list_item_content">
										<h4 class="cmsms_icon_list_item_title">Ecology Today</h4>
										<div class="cmsms_icon_list_item_text">
											<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
										</div>
									</div>
								</div>
							</li>
							<li id="cmsms_icon_list_item_55476f8003629" class="cmsms_icon_list_item">
								<div class="cmsms_icon_list_item_inner">
									<div class="cmsms_icon_list_icon_wrap">
										<span class="cmsms_icon_list_icon cmsms-icon-star"></span>
									</div>
									<div class="cmsms_icon_list_item_content">
										<h4 class="cmsms_icon_list_item_title"> Dynamic Ecology</h4>
										<div class="cmsms_icon_list_item_text">
											<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
										</div>
									</div>
								</div>
							</li>
							<li id="cmsms_icon_list_item_55476f800372e" class="cmsms_icon_list_item">
								<div class="cmsms_icon_list_item_inner">
									<div class="cmsms_icon_list_icon_wrap">
										<span class="cmsms_icon_list_icon cmsms-icon-arrows-cw-outline"></span>
									</div>
									<div class="cmsms_icon_list_item_content">
										<h4 class="cmsms_icon_list_item_title">Recycling Rubbish</h4>
										<div class="cmsms_icon_list_item_text">
											<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f8003957" class="cmsms_row cmsms_color_scheme_second" data-stellar-background-ratio="0.5">
	<div id="posts" class="cmsms_row_outer_parent">
		<div class="cmsms_row_overlay"></div>
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<h1 id="cmsms_heading_55476f8003fc4" class="cmsms_heading">Recent News &amp; Posts</h1>
						<div class="cmsms_posts_slider" >
							<script type="text/javascript">
								jQuery(document).ready(function () {
									var container = jQuery('.cmsms_slider_55476f800406d');
										containerWidth = container.width(),
										firstPost = container.find('article'),
										postMinWidth = Number(firstPost.css('minWidth').replace('px', '')),
										postThreeColumns = (postMinWidth * 4) - 1;
										postTwoColumns = (postMinWidth * 3) - 1;
										postOneColumns = (postMinWidth * 2) - 1;


									jQuery('.cmsms_slider_55476f800406d').owlCarousel( {
										items : 4,
										itemsDesktop : false,
										itemsDesktopSmall : [postThreeColumns,3],
										itemsTablet : [postTwoColumns,2],
										itemsMobile : [postOneColumns,1],
										transitionStyle : false,
										rewindNav : true,
										slideSpeed : 200,
										paginationSpeed : 800,
										rewindSpeed : 1000, autoPlay : 5000, stopOnHover : true,
										autoHeight : true,
										addClassActive : true,
										responsiveBaseWidth : '.cmsms_slider_55476f800406d',
										pagination : false,
										navigation : true,
										navigationText : [ "<span class=\"cmsms_prev_arrow\"></span>", "<span class=\"cmsms_next_arrow\"></span>" ]
									} );
								} );
							</script>
							<div id="cmsms_owl_carousel_55476f800406d" class="cmsms_owl_slider cmsms_slider_55476f800406d">
								<div>
						<!--_________________________ Start Image Article _________________________ -->
									<article class="post">
										<span class="cmsms_slider_post_format_img cmsms-icon-photo"></span>
										<div class="cmsms_slider_post_cont">
											<figure class="cmsms_img_rollover_wrap preloader">
												<img width="580" height="460" src="{% static '/static/img/images/Ecological-study-small.jpg' %}" class="full-width" alt="Ecological study" title="Ecological study" />
												<div class="cmsms_img_rollover">
													<a href="{% static '/static/img/images/Ecological-study-full.jpg' %}" rel="ilightbox[201_55476f80054e8]" title="Ecological study" class="cmsms_image_link">
														<span class="cmsms-icon-search-7"></span>
													</a>
													<a href="open-post.html" title="Ecological study" class="cmsms_open_link">
														<span class="cmsms-icon-attach-6"></span>
													</a>
												</div>
											</figure>
											<header class="cmsms_slider_post_header entry-header">
												<h3 class="cmsms_slider_post_title entry-title">
													<a href="open-post.html">Ecological study</a>
												</h3>
											</header>
											<div class="cmsms_slider_post_cont_info entry-meta">
												<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a></span>
											</div>
											<footer class="cmsms_slider_post_footer entry-meta">
												<div class="cmsms_slider_post_meta_info">
													<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Ecological study">0</a>
													<a href="#" onclick="return false;" id="cmsmsLike-201" class="cmsmsLike active cmsms-icon-heart-7">
														<span>1</span>
													</a>
													<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 23, 2014">July 23, 2014</abbr>
												</div>
											</footer>
										</div>
									</article>
						<!--_________________________ Finish Image Article _________________________ -->
								</div>
								<div>
								<!--_________________________ Start Image Article _________________________ -->
									<article class="post">
										<span class="cmsms_slider_post_format_img cmsms-icon-photo"></span>
										<div class="cmsms_slider_post_cont">
											<figure class="cmsms_img_rollover_wrap preloader">
												<img width="580" height="460" src="{% static '/static/img/images/Analysis-of-Ecological-small.jpg' %}" class="full-width" alt="Analysis of Ecological" title="Analysis of Ecological" />
												<div class="cmsms_img_rollover">
													<a href="{% static '/static/img/images/Analysis-of-Ecological-full.jpg' %}" rel="ilightbox[198_55476f80076c8]" title="Analysis of Ecological" class="cmsms_image_link">
														<span class="cmsms-icon-search-7"></span>
													</a>
													<a href="open-post.html" title="Analysis of Ecological" class="cmsms_open_link">
														<span class="cmsms-icon-attach-6"></span>
													</a>
												</div>
											</figure>
											<header class="cmsms_slider_post_header entry-header">
												<h3 class="cmsms_slider_post_title entry-title">
													<a href="open-post.html">Analysis of Ecological</a>
												</h3>
											</header>
											<div class="cmsms_slider_post_cont_info entry-meta">
												<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a></span>
											</div>
											<footer class="cmsms_slider_post_footer entry-meta">
												<div class="cmsms_slider_post_meta_info">
													<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Analysis of Ecological">0</a>
													<a href="#" onclick="return false;" id="cmsmsLike-198" class="cmsmsLike active cmsms-icon-heart-7">
														<span>1</span>
													</a>
													<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 23, 2014">July 23, 2014</abbr>
												</div>
											</footer>
										</div>
									</article>
								<!--_________________________ Finish Image Article _________________________ -->
								</div>
								<div>
								<!--_________________________ Start Image Article _________________________ -->
									<article class="post">
										<span class="cmsms_slider_post_format_img cmsms-icon-photo"></span>
										<div class="cmsms_slider_post_cont">
											<figure class="cmsms_img_rollover_wrap preloader">
												<img width="580" height="460" src="{% static '/static/img/images/Ecology-Conferences-small.jpg' %}" class="full-width" alt="Ecology Conferences" title="Ecology Conferences" />
												<div class="cmsms_img_rollover">
													<a href="{% static '/static/img/images/Ecology-Conferences-full.jpg' %}" rel="ilightbox[195_55476f800976c]" title="Ecology Conferences" class="cmsms_image_link">
														<span class="cmsms-icon-search-7"></span>
													</a>
													<a href="open-post.html" title="Ecology Conferences" class="cmsms_open_link">
														<span class="cmsms-icon-attach-6"></span>
													</a>
												</div>
											</figure>
											<header class="cmsms_slider_post_header entry-header">
												<h3 class="cmsms_slider_post_title entry-title">
													<a href="open-post.html">Ecology Conferences</a>
												</h3>
											</header>
											<div class="cmsms_slider_post_cont_info entry-meta">
												<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a></span>
											</div>
											<footer class="cmsms_slider_post_footer entry-meta">
												<div class="cmsms_slider_post_meta_info">
													<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Ecology Conferences">0</a>
													<a href="#" onclick="return false;" id="cmsmsLike-195" class="cmsmsLike active cmsms-icon-heart-7">
														<span>1</span>
													</a>
													<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 23, 2014">July 23, 2014</abbr>
												</div>
											</footer>
										</div>
									</article>
								<!--_________________________ Finish Image Article _________________________ -->
								</div>
								<div>
								<!--_________________________ Start Image Article _________________________ -->
									<article class="post">
										<span class="cmsms_slider_post_format_img cmsms-icon-photo"></span>
										<div class="cmsms_slider_post_cont">
											<figure class="cmsms_img_rollover_wrap preloader">
												<img width="580" height="460" src="{% static '/static/img/images/Morning-dew-small.jpg' %}" class="full-width" alt="Morning dew" title="Morning dew" /><div class="cmsms_img_rollover">
													<a href="{% static '/static/img/images/Morning-dew-full.jpg' %}" rel="ilightbox[188_55476f800b77c]" title="Morning dew" class="cmsms_image_link">
														<span class="cmsms-icon-search-7"></span>
													</a>
													<a href="open-post.html" title="Morning dew" class="cmsms_open_link">
														<span class="cmsms-icon-attach-6"></span>
													</a>
												</div>
											</figure>
											<header class="cmsms_slider_post_header entry-header">
												<h3 class="cmsms_slider_post_title entry-title">
													<a href="open-post.html">Morning dew</a>
												</h3>
											</header>
											<div class="cmsms_slider_post_cont_info entry-meta">
												<span class="cmsms_slider_post_category">In <a href="open-post.html" rel="category tag">Ecology</a></span>
											</div>
											<footer class="cmsms_slider_post_footer entry-meta">
												<div class="cmsms_slider_post_meta_info">
													<a class="cmsms_slider_post_comments cmsms-icon-comment-6" href="#" title="Comment on Morning dew">0</a>
													<a href="#" onclick="return false;" id="cmsmsLike-188" class="cmsmsLike active cmsms-icon-heart-7">
														<span>1</span>
													</a>
													<abbr class="published cmsms_slider_post_date cmsms-icon-calendar-8" title="July 23, 2014">July 23, 2014</abbr>
												</div>
											</footer>
										</div>
									</article>
								<!--_________________________ Finish Image Article _________________________ -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f80157ce" class="cmsms_row cmsms_color_scheme_third" data-stellar-background-ratio="0.5">
	<div class="cmsms_row_outer_parent">
		<div class="cmsms_row_overlay"></div>
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<h1 id="cmsms_heading_55476f8015e36" class="cmsms_heading">Our Process</h1>
						<h3 id="cmsms_heading_55476f8015ee5" class="cmsms_heading">Donec fringilla, erat et semper eleifend, justo quam ipsum libero eget mi</h3>
						<div class="cmsms_stats stats_mode_counters stats_type_circles stats_noborder"><div class="cmsms_stat_wrap one_fourth">
								<div id="cmsms_stat_55476f801600e" class="cmsms_stat stat_has_titleicon" data-percent="86" data-bar-color="#ffffff">
									<div class="cmsms_stat_inner cmsms-icon-light-up">
										<span class="cmsms_stat_title">Solar Energy</span>
										<span class="cmsms_stat_counter_wrap">
											<span class="cmsms_stat_counter">0</span>
											<span class="cmsms_stat_units">%</span>
										</span>
									</div>
								</div>
							</div><div class="cmsms_stat_wrap one_fourth">
								<div id="cmsms_stat_55476f8016090" class="cmsms_stat stat_has_titleicon" data-percent="71" data-bar-color="#ffffff">
									<div class="cmsms_stat_inner cmsms-icon-waves">
										<span class="cmsms_stat_title">Water</span>
										<span class="cmsms_stat_counter_wrap">
											<span class="cmsms_stat_counter">0</span>
											<span class="cmsms_stat_units">%</span>
										</span>
									</div>
								</div>
							</div><div class="cmsms_stat_wrap one_fourth">
								<div id="cmsms_stat_55476f8016116" class="cmsms_stat stat_has_titleicon" data-percent="78" data-bar-color="#ffffff">
									<div class="cmsms_stat_inner cmsms-icon-user-add-outline">
										<span class="cmsms_stat_title">Volunteers</span>
										<span class="cmsms_stat_counter_wrap">
											<span class="cmsms_stat_counter">0</span>
											<span class="cmsms_stat_units">%</span>
										</span>
									</div>
								</div>
							</div><div class="cmsms_stat_wrap one_fourth">
								<div id="cmsms_stat_55476f8016191" class="cmsms_stat stat_has_titleicon" data-percent="82" data-bar-color="#ffffff">
									<div class="cmsms_stat_inner cmsms-icon-lightbulb-1">
										<span class="cmsms_stat_title">Eco Ideas</span>
										<span class="cmsms_stat_counter_wrap">
											<span class="cmsms_stat_counter">0</span>
											<span class="cmsms_stat_units">%</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f8016320" class="cmsms_row cmsms_color_scheme_default">
	<div id="contacts" class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner cmsms_row_fullwidth">
				<div class="cmsms_row_margin">
					<div class="cmsms_column one_first">
						<script type="text/javascript">
							jQuery(document).ready(function (){
								jQuery("#google_map_55476f8016594").gMap({
									address: "",
									maptype: "ROADMAP",
									zoom: 14,
									controls: {},
									markers: [{address: "Rue du Château 28 1870 Monthey",},]
								});
							});
						</script>
						<div id="google_map_55476f8016594" class="google_map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cmsms_row_55476f8016670" class="cmsms_row cmsms_color_scheme_default">
	<div class="cmsms_row_outer_parent">
		<div class="cmsms_row_outer">
			<div class="cmsms_row_inner">
				<div class="cmsms_row_margin">
					<div class="cmsms_column three_fourth">
						<div class="cmsms_contact_form">
							<div class="cmsms-form-builder">
								<div class="cmsms_notice cmsms_notice_success cmsms-icon-check-2 success_box" style="display:none;">
									<div class="notice_icon"></div>
									<div class="notice_content">
										<p>Thank You! <br />Your message has been sent successfully.</p>
									</div>
								</div>
								<script type="text/javascript">
									jQuery(document).ready(function () {
										jQuery('#contactform').validationEngine('init');

										jQuery('#contactform a#contact_form_formsend').click(function () {
											var form_builder_url = jQuery('#contact_form_url').val();

											jQuery('#contactform .loading').animate( { opacity : 1 }, 250);

											if (jQuery('#contactform').validationEngine('validate')) {
												jQuery.post(form_builder_url, {
													contact_name : jQuery('#contact_name').val(),
													contact_email : jQuery('#contact_email').val(),
													contact_subject : jQuery('#contact_subject').val(),
													contact_message : jQuery('#contact_message').val(),
													formname : 'contactform',
													formtype : 'contactfmain_2'
												}, function () {
													jQuery('#contactform .loading').animate( { opacity : 0 }, 250);

													document.getElementById('contactform').reset();

													jQuery('#contactform').parent().find('.box').hide();
													jQuery('#contactform').parent().find('.success_box').fadeIn('fast');
													jQuery('html, body').animate( { scrollTop : jQuery('#contactform').offset().top - 100 }, 'slow');
													jQuery('#contactform').parent().find('.success_box').delay(5000).fadeOut(1000);
												} );

												return false;
											} else {
												jQuery('#contactform .loading').animate( { opacity : 0 }, 250);

												return false;
											}
										} );
									} );
								</script>
								<form action="#" method="post" id="contactform">
									<div class="form_info cmsms_input one_third">
										<label for="contact_name">Name (Required)</label>
										<div class="form_field_wrap">
											<input type="text" name="contact_name" id="contact_name" value="" size="22" tabindex="3" class="validate[minSize[3],maxSize[100],custom[onlyLetterSp]]"/>
										</div>
									</div>
									<div class="form_info cmsms_input one_third">
										<label for="contact_email">Your Mail</label>
										<div class="form_field_wrap">
											<input type="text" name="contact_email" id="contact_email" value="" size="22" tabindex="4" class="validate[custom[email]]" />
										</div>
									</div>
									<div class="form_info cmsms_input one_third">
										<label for="contact_subject">Subject</label>
										<div class="form_field_wrap">
											<input type="text" name="contact_subject" id="contact_subject" value="" size="22" tabindex="6" class="validate[minSize[3],maxSize[100]]" />
										</div>
									</div>
									<div class="cl"></div>
									<div class="form_info cmsms_textarea one_first">
										<label for="contact_message">Message</span></label>
										<div class="form_field_wrap">
											<textarea name="contact_message" id="contact_message" cols="60" rows="10" tabindex="7" class="validate[minSize[3]]" ></textarea>
										</div>
									</div>
									<div class="cl"></div>
									<div><input type="hidden" name="contact_form_url" id="contact_form_url" value="php/sendmail.php" /></div><!-- Here you need to set the path to the sendmail file -->
									<div class="form_info submit_wrap">
										<a href="#" class="cmsms_button" id="contact_form_formsend" tabindex="8">Send a message<span></span></a>
										<div class="loading"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="cmsms_column one_fourth">
						<h1 id="cmsms_heading_55476f8017383" class="cmsms_heading">Get in touch</h1>
						<div class="cmsms_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis.</p>
						</div>
						<div id="cmsms_divider_55476f801749b" class="cl"></div>
						<ul id="cmsms_icon_list_items_55476f8017515" class="cmsms_icon_list_items cmsms_icon_list_type_list cmsms_icon_list_pos_left cmsms_color_type_border">
							<li id="cmsms_icon_list_item_55476f80175f6" class="cmsms_icon_list_item cmsms-icon-location-outline"> Rue du château 28, 1870 Monthey</li>
							<li id="cmsms_icon_list_item_55476f8017664" class="cmsms_icon_list_item cmsms-icon-phone-outline">079/614.50.89</li>
							<li id="cmsms_icon_list_item_55476f80176cd" class="cmsms_icon_list_item cmsms-icon-mail">florentschopfer@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cl"></div>
{% endblock %}
